@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");

.logo {
  height: 50px;
}
.container {
  background-color: whitesmoke !important;
}
body {
  font-family: "Alata", sans-serif !important;
}

.panel {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.btn {
  color: white !important;
  text-transform: capitalize !important;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  background-color: #e3f2fd !important;
}
.dropdown-menu a {
  font-size: 14px !important;
}
.dropdown-menu a:hover {
  background-color: #1a237e;
  color: white !important;
}
.title {
  font-family: "Cinzel", serif;
  font-weight: 700 !important;
}

.welcome {
  padding-top: 80px !important;
  padding-bottom: 30px !important;
}

.para {
  font-size: 14px !important;
  text-align: justify;
  padding-bottom: 60px;
}
.end {
  font-size: 10px !important;
}

/* Registration & login CSS */

.register {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 3%;
  padding: 3%;
}
.register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
@media screen and (max-width: 49em) {
  .register-left input {
    margin-top: 0em !important;
  }
}

.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form {
  padding: 10%;
  margin-top: 10%;
}

.register .login-form {
  margin-top: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 0%;
  padding-right: 0%;
}
@media screen and (min-width: 48.5em) {
  .register .login-form {
    padding: 10%;
  }
}
@media screen and (max-width: 27em) {
  .register .login-form {
    margin-bottom: 20%;
    padding: 10%;
  }
}

.btnRegister {
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover {
  border: none;
}
.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
.btnLogin {
  float: right;
  margin-top: 5%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
}

/*  Dashboard Container CSS */

.my-box-option {
  border: 3px solid #0d012c;
  overflow: hidden;
  margin: 10px 0;
  font-family: "Poppins", sans-serif !important;
}

.my-box-option:hover {
  box-shadow: 2px 2px 10px black;
}
.my-box-image img {
  width: 100%;
  padding: 40px;
}
.my-box-content {
  background-color: #1d2757;

  padding: 20px;
}
.my-box-title {
  color: #fff;
  font-size: 20px;
}
.my-box-text {
  color: #fff;
  font-size: 12px;

  height: 50px;
}
.box-button {
  color: white;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: #eb8d00;
}
.box-button:hover {
  color: white;
  background-color: #1e9101;
}

.profile {
  padding-top: 2em;
}

.information {
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
}
.left hr {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.section_title {
  text-align: center;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.section_title h3 {
  padding-top: 40px;
}

.section_title h6 {
  padding-top: 0px;
  font-family: "Poppins", sans-serif;
}

.tuition {
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}
.course_table {
  font-family: "Poppins", sans-serif;
  font-size: 12px !important;
}
.course_list hr {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.tab_button {
  color: rgb(172, 0, 0);
}
.teacher_dashboard {
  font-family: "Poppins", sans-serif;
}
.btn-indigo {
  margin: 0px !important;
}

.counter {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 45px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: rgb(172, 0, 0);
}

.max {
  z-index: 1000 !important;
}

.GetTeacherList {
  font-family: "Poppins", sans-serif;
}

.GetTeacherList hr {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: rgba(255, 255, 255, 0.219);
}

.my-card-option {
  border: 3px solid #0d012c;
  overflow: hidden;
  margin: 10px 0;
  font-family: "Poppins", sans-serif !important;
}

.my-card-option:hover {
  box-shadow: 2px 2px 10px black;
}

.my-card-content {
  background-color: #1d2757;
  color: white;
  font-size: 14px;
  padding: 20px;
}
.my-card-heading {
  font-family: "Alata", sans-serif !important;
  text-align: center;
  padding: 20px;
}
