<div class="">
  

  <!----------- Footer ------------>
  <footer class="footer-bs">
      <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
          <img class="logo" src="../img/logo.png" style="height: 30%;"alt="">
              <p>Developed & Maintained by :</p><a class="white-text" href="https://raayhan.github.io" target="_blank">Rayhan Ahmed Rakib</a><BR>
              <p>© 2020 NSU-TS, All rights reserved</p>
          </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            
            
            <div class="col-md-6" style="padding-left: 0px;">
                  <ul class="list">
                      <li><a data-toggle="modal" data-target="#centralModalSm">About</a></li>
                      <li><a data-toggle="modal" data-target="#modalContactForm">Contact</a></li>
                      <li><a href="#">Terms & Condition</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            
            <ul>
                <li><a href="https://www.facebook.com/Raayhan777" target="_blank"><i class="fab fa-facebook"></i>&nbsp; Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>&nbsp; Twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i>&nbsp; Instagram</a></li>
                <li><a href="#"><i class="fas fa-rss-square"></i>&nbsp; RSS</a></li>
              </ul>
          </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Newsletter</h4>
              <p>Get information abut latest updates and many more</p>
              <p>
                  <div class="input-group">
                    <div class="row">
                         <input type="email" class="form-control" placeholder="Enter your Email" name="email" required/>
                     
                        
                        
                      <button type="submit" class="box-button" data-toggle="modal" data-target="#centralModalSuccess" style="margin-left: 0px!important; margin-top: 5px!important;"><i class="fas fa-rss"></i> Subscribe</button>
                      
                    </div>
                  </div><!-- /input-group -->
               </p>
          </div>
      </div>
  </footer>
  

</div>


<!-- Central Modal Small -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">About NSU-TS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="jumbotron text-center  p-4 mb-0" style="padding-bottom: 120px!important;">
          <div class="row justify-content-center welcome">
               
               <div class="col-md-4 offset-md-1 mx-3 my-3 animated fadeInUp">
                    <div class="view overlay">
                         <img src="../img/showcase.png" class="img-fluid" alt="Panel Image">    
                    </div>
               </div>
    
               
               <div class="col-md-7 text-md-left ml-3 mt-3 animated fadeInUp teacher_dashboard" style="margin-left: 0px!important;">
                  
    
                   <h4 class="h5 mb-4 title">NORTH SOUTH UNIVERSITY TUITION SERVICES</h5>
    
                   <p class ="para">NSU-TS is a platform for NSU Students to find suitable tutors for the courses which they find difficulties.It's also a platform for students who want to earn some money by giving tuitions to other students.</p>
        
                   <h5 class="red-text"><i class="fas fa-user-graduate"></i> Student</h5>
                   <p class ="para">Student can register as a student in NSU-TS to use services. They can browse department wise course or can see currently active courses offered by Tutors. After getting desired course tutors they can add that course into their course list in order to get connected with them. However they can always remove a course from their profile whenever they want.</p> 
                   <h5 class="red-text"><i class="fas fa-user-tie"></i> Teacher</h5>
                   <p class ="para">Teachers can register as a teacher in NSU-TS to use the services. they can add courses from dashboard panel and check status of active sourses and current student lists. Whenever a new student connects it shows up in the student list.</p> 
                   <h5 class="text-primary">Developed & Maintained by:</h5>
                   <h6>Rayhan Ahmed Rakib</h6>
                   <p><i class="fas fa-envelope"></i> Rayhan.rakib@northsouth.edu</p>
                   <p><i class="fas fa-phone-alt"></i> +88 0171-7272999</p>
                   <a class="black-text" href="https://raayhan.github.io" target="_blank"><i class="fas fa-globe"></i> &nbsp;Visit Website</a>
                   <p class="mt-4">© 2020 NSU-TS, All rights reserved</p>
               </div>
      
    
          </div>
    
    
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="box-button" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        
        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-phone-alt"></i>&nbsp; Contact</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form34" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form34">Your name</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="form29" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form29">Your email</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-tag prefix grey-text"></i>
          <input type="text" id="form32" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form32">Subject</label>
        </div>

        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
          <label data-error="wrong" data-success="right" for="form8">Your message</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="box-button"><i class="fab fa-telegram-plane"></i>&nbsp;Send</button>
      </div>
    </div>
  </div>
</div>


